@charset 'UTF-8';

nav {
  h2 {
    display: none;
  }
}

.site-logo-link {
  h1, div {
    display: none;
  }
}

@media screen and (max-width: $break-small) {
  .site-header {
    padding-top: .5em !important;
  }
}
