@charset 'UTF-8';

.handheld-navigation {
  border-right: 0 !important;

  i {
    margin-right: 1em;
  }

  .shm-close {
    border: 0 !important;
    display: none !important;
  }

  .social-mobile {
    bottom: 1em;
    font-family: 'FontAwesome';
    font-weight: 400;
    position: fixed;
    text-align: center;
    width: 80%;

    li {
      display: inline-block;
    }
  }
}

.toggled {
  .handheld-navigation {
    transition: right .2s;
  }
}

@media screen and (max-width: $break-small) {
  .main-navigation {
      margin-bottom: .5em !important;
  }
}

#menu-mobile {
  background-color: transparent;

  &.is-active::after {
    background-color: rgba($black, .5);
    content: '';
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }
}
