@charset 'UTF-8';

// Media Queries

$break-small: 450px;
$break-medium: 768px;
$break-large: 1024px;

// Base

$white: #fff;
$black: #000;
$primary: #ff5722;
$primary-dark: #7f2b11;

$black-opacity: rgba($black, .5);
$shadow-color: rgba(0, 0, 0, .12);
